body{
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
h1,h2,h3,h4{ font-weight: normal;}
a{ text-decoration: none;}
ul,ol{
  list-style-type: none;
}

/* iOS에서  입력요소의 border-radius 문제 수정 */
input, textarea, select {
  -webkit-appearance: none;
}

#main_header{
  width: 100%;
  position: relative;
  background: url('https://images.pexels.com/photos/864990/pexels-photo-864990.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 38%;
}
#main_header:after{
  content: "";
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  display: block;
  /* border: 1px solid green; */
  background: rgba(0,0,0,0.5);
  background: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0) 80%);
}
header{
  position: relative;
  color: #fff;
  /* border-bottom: 1px solid rgba(255,255,255,0.5); */
  overflow: hidden;
  height: 60px;
  z-index: 9;
}
header h1, header h2{
   display: inline-block;
   vertical-align: middle;
   margin-top: -15px;
 }
header h1{font-family: 'Eagle Lake', cursive;}
header h1 > span{color:#23caca}
header h2{ font-size: 14px; margin-left: 10px;}
header a{ color: #fff;}
header div:nth-child(2){ text-align: right;}

header .login, header .sign{
  border: 1px solid rgba(255,255,255,0.8);
  padding: 6px 24px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 0.8em;
}
header .login:hover, header .sign:hover{
  background: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.8);
  border-color: transparent;
}
#main_header{
  /* border: 1px solid red; */
  position: relative;
}
#main_header .caption{
  /*  운동은 곧 인생의 활력입니다! */
  position: absolute;
  width:70%;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  font-size: 5vw;
  color: white;
  text-shadow: 1px 1px 5px #666;
  z-index: 5;
  text-align: center;
  /* border: 1px solid red; */
}
header .toggle{ display: none;}

/*  모바일 토글 메뉴 */
#toggle_gnb{
  position: fixed;
  left: -60%; top: 0;
  width: 60%; height: 100%;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 20px;
  font-size: 1em;
  z-index: 99;
}
#toggle_gnb.on{ left: 0%;}

#toggle_gnb > ul{
  list-style-type: none;
  padding-top: 50px;
}
#toggle_gnb a{ color: rgba(255,255,255,0.7);}

/* 1뎁스 */
#toggle_gnb ul.depth1 > li{
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.7);
  /* border: 1px solid red; */
}
#toggle_gnb ul.depth1 > li:hover > a{
  display: block;
  border-bottom-width: 1px;
  color: rgba(255,255,255,1);
}
#toggle_gnb ul.depth1 .btn_arrow{
  float: right;
}

/*  2뎁스 */
#toggle_gnb ul.depth2 > li > a{
  display: block;
  padding: 10px 0 5px 1em;
  /* border: 1px solid red; */
}
#toggle_gnb ul.depth2 > li:hover > a{
  color: rgba(255,255,255,1);
}
#toggle_gnb ul.depth2 > li > a:before{ content: "- ";}

/*  */
form[name=search]{
  position: absolute;
  top: 60%; left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /* border: 1px solid red; */
  width: 320px; height: 40px;
  z-index: 9;
}
form[name=search] input{
  display: block;
  width: 75%; height: 100%;
  border: none;
  float: left;
  padding: 5px 20px;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
}
form[name=search] a#s_btn{
  display: block;
  background: #ec2761;
  width: 25%; height: 100%;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 1em;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

#category, #facility{
  text-align: center;
  padding-top: 60px;
}
#category  h1,
#facility  h1{
  font-size: 2em;
  color: #23caca;
}
#category  h2,
#facility  h2{ font-size: 3em; margin-bottom: 30px;}
#category > div:nth-child(1),
#category > div:nth-child(2),
#category > div:nth-child(3){
  text-align: center;
}
#category > div{
  transition: 0.5s;
  margin-bottom: 30px;
}
#category > div:hover, #category > div:hover > .fas{
  transform: scale(1.1);
}
#category > div > .fas{
  font-size: 4em;
  margin-bottom: 20px;
  color: #23caca; background: #444;
  padding: 60px;
  border-radius: 50%;
}
#category > div > h2{ color: #23caca;}
#category > div > p{ margin-top: 5px;}

#facility{
  background: #111;
  overflow: hidden;
  padding-bottom: 60px;
}
#facility ul{
  /* border: 1px solid #666; */
}
#facility h2{ color: #fff;}
#facility ul li{
  width: 49.48%;
  margin-right: 1.04%;
  margin-bottom: 1.04%;
  float: left;
  overflow: hidden;
}
#facility ul li:nth-child(2n){ margin-right: 0;}
#facility ul li:hover img{
  transform: scale(1.1);
}
#facility ul img{
  vertical-align: middle;
  transition: 0.5s;
}

#bottom_section{
  color: #fff;
  text-align: center;
  background: #23caca;
  padding-top: 30px;
  padding-bottom: 30px;
}
#bottom_section h1 > span{ color: #000;}
footer{
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h4{
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer p{
  font-family: "맑은 고딕", sans-serif;
  font-weight: normal;
  font-size: small;
}

/* 모바일 */
@media screen and (max-width: 660px){
  header h2{ display: none;}
  #category > div{
    float: none;
    width: 100%;
  }
  header .col2:first-child{
    float: none;
    width: 100%;
    text-align: center;
  }
  header .col2:last-child{
    display: none;
  }
  header .toggle{
    position: absolute;
    right: 20px; top: 15px;
    display: block;
  }
  #main_header .caption{
    width: 100%;
    font-size: 30px;
  }
  form[name=search]{
    /* width: 80%; height: 40px; */
    top: 65%;
  }
  form[name=search] a#s_btn{
    line-height: 40px;
  }

  /* 시설안내 */
  #facility ul li{
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
